.caja-acceso {
    width: 330px;
    height: 330px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.caja-acceso:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

.bg-cliente {
    background-color: #004481;
}

.bg-personal {
    background-color: #198754;
}